/*
 * CSS file containing all CSS for all templates; 
 * any file specific differences separated into sections by html file
 */


/* ---------------- general CSS (applies to all templates) */

/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Pavanam');

body {
	padding-top:50px;
	background-color: white;
	height: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Pavanam', Helvetica, sans-serif;
}

p {
	font-family: 'Pavanam', Helvetica, sans-serif;
	font-size: 20px;
}

a {
	font-family: 'Pavanam', Helvetica, sans-serif;
}

footer {
/*	position: relative;
	left: 0;
	right: 0;
	bottom: 0;*/
	font-family: 'Pavanam', Helvetica, sans-serif;
	background-color: #222;
	padding-top: 30px;
	padding-bottom: 20px;
}

.topnav {
	font-family: 'Pavanam', Helvetica, sans-serif;
}

.navbar a {
	font-family: 'Pavanam', Helvetica, sans-serif;
	font-size: 20px;
}

input {
    border-radius: 8px;
    background-color: white;
}

.btn-secondary {
	border: solid;
	border-width: 1px;
	border-color: #444;
	font-family: 'Pavanam', Helvetica, sans-serif;
	font-size: 20px;
}

.btn-primary {
	border: solid;
	border-width: 1px;
	border-color: #444;
	font-family: 'Pavanam', Helvetica, sans-serif;
	font-size: 20px;
}

/* ---------------- about.html */



/* ---------------- confirm_join.html */

#confirm-join-info-box {
  background: url(../img/fast-car.jpg);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

#confirm-join-user-info {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
}

/* ---------------- confirm_ride.html */

#confirm-info-box {
  background: url(../img/fast-car.jpg);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

#confirm-user-info {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
}

/* ---------------- confirmed_join.html */



/* ---------------- confirmed_ride.html */

/* ---------------- faq.html */

.panel-group a {
	font-size: 20px;
	font-weight: 900;
}

/* ---------------- form.html */

.form-container {
  background: url(../img/fast-car.jpg);
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-container form {
  font-family: Pavanam, sans-serif;
  font-size:20px;
  background-color: white;
  padding: 25px;
  border-radius: 25px;
}

/* ---------------- index.html */

.intro-header {
	font-family: 'Pavanam', Helvetica, sans-serif;
	padding: 0px;
}




/* ---------------- open_req_list.html */