<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meet the Team | Princeton Go</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="{% static 'css/master.css' %}" rel="stylesheet">


    <!-- <link rel = "stylesheet" href="style.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

</head>

<style>
@import url('https://fonts.googleapis.com/css?family=Pavanam');

</style>

<body>

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{% url 'index' %}">PRINCETON GO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#feedback">Feedback</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">Team</a>
                    </li>
                    <li>
                        <a>{{ netid }} </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Meet the Team</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-3">
                {%load static%}
                <img class="img-responsive" src="{% static 'img/annie.jpg' %}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Annie Chen</h3>
                <h4>Project Manager, Front End</h4>
                <p>Annie is a junior in the COS department. She is also involved with club Ultimate frisbee, Princeton Writing Center, and the Institute of Chocolate Studies.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-3">
                {%load static%}
                <img class="img-responsive" src="{% static 'img/Raniphoto.jpg' %}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Rani Jaiswal</h3>
                <h4>Back End</h4>
                <p>Rani is a junior in the COS department. She has a unique (read: deprived) sleep schedule, but that does not impede her from rapping for Acapellago, being Careers Chair for ACM, and getting involved with PWiCS on campus.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-3">
                {%load static%}
                <img class="img-responsive" src="{% static 'img/cindy.jpg' %}" alt="">
            </div>
            <div class="col-md-5">
                <h3>Cindy Liu</h3>
                <h4>Back End</h4>
                <p>Cindy is a junior in the COS department. She dabbles in pro-level street photography and educational documentary production when she is not writing back end for projects like Princeton Go.</p>
                <!-- <a class="btn btn-primary" href="#">See More <span class="glyphicon glyphicon-chevron-right"></span></a> -->
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-3">
                <img class="img-responsive" src="http://placehold.it/300x300" alt="">
            </div>
            <div class="col-md-5">
                <h3>Alice Tang</h3>
                <h4>Front End</h4>
                <p>Alice is a junior in the COS department. She is a part of the Edwards Collective, PPE, Chapel Choir, and Glee Club. She also masquerades as fat pink blobs on Facebook. Do not be deceived. She is an Asian woman.</p>
            </div>
        </div>
                <!-- /.row -->
    </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
<!-- Footer -->
    <footer>
        <div class="container">
            <p class="copyright text-muted small">Copyright &copy; Annie Chen, Rani Jaiswal, Cindy Liu, Alice Tang</p>
        </div>
    </footer>
</html>
