{% extends "app/base.html" %}

{% block title %} {{Title}} | Princeton Go {% endblock %}

{% block links %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'css/master.css' %}" rel="stylesheet">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<div id="confirm-info-box">
  <div id= "confirm-user-info">

    <!--Check if user is already in ride-->
    {% if in_ride == 'True' %}
      <h2><strong>You are already in this ride!</strong></h2>
    {% else %}
      <h2><strong>Confirm To Join Ride</strong></h2>
    {% endif %}

    <hr>

    <!--Ride info-->
    <p>Trip: <span class="user-entered">{{ start }} to {{ dest }} </span></p>
    <p>Date and time of ride: <span class = "user-entered">{{Date}}</span> </p>
    <p>Current passenger(s):
      <span class="user-entered">
      {% for user in Riders %}
      <br> &emsp; {{user.first_name}} {{user.last_name}} ({{user.netid}})
      {% endfor %} </span></p>

    <hr>

      <!--Check if user is already in ride-->
      {% if in_ride == 'True' %}

        <p align="center">Either go back or drop this ride.</p>

        <div align='center'>
        <form >
          <a href="/{{rtype}}/open" type="submit" class="btn btn-secondary" value = "Back">Back</a>
           <button type='button' action="confirm/{{ id }}" class='btn btn-danger btn-danger-join' data-toggle="modal" data-target="#myModal{{id}}"> Drop</button>

           <!-- Drop Modal -->
            <div id="myModal{{id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn close" data-dismiss="modal">&times;</button>
                            <p>Drop Ride #{{id}} to {{Dest}} on {{Date}}</p>
                        </div>

                        <!--Modal message asking if you want to drop-->
                        <div class="modal-body">
                            <p>Are you sure? You will not be able to reverse this action.</p>
                            <div align = 'center'><img class="img-responsive" src='https://s-media-cache-ak0.pinimg.com/736x/e5/ea/7d/e5ea7d198d3d512ca127b28a1fcdcb6e.jpg'/></div><br>
                        <div align = 'center' id="modal-btns">
                            <a class="btn btn-primary" role="button" href="drop/{{id}}">Yes, I want to drop this ride.</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, I want to keep it.</button><br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </form>
      </div>

      {% else %}
      <!--If not in ride yet, ask if they want to join-->
        <p>Would you like to join this ride?</p>
        <form style="text-align:center" action="confirm/{{id}}">
          <a href="/{{rtype}}/open" type="submit" class="btn btn-secondary" value = "Back">Back</a>
          <input type="submit" class="btn btn-primary" value = "Confirm" />
        </form>
    {% endif %}

  </div>
  <br>
</div>

{% endblock %}

{% block endscripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}