{% extends "app/base.html" %}

{% block title %} Confirm New Request | Princeton Go {% endblock %}

{% block links %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'css/master.css' %}" rel="stylesheet">

{% endblock %}

{% block style %}
<style>
@import url('https://fonts.googleapis.com/css?family=Pavanam');

input {
    border-radius: 8px;
    background-color: white;
}

form .btn {
  font-size: 20px;
}

</style>

{% endblock %}

{% block content %}
    
    <div id="confirm-info-box">
        <div id= "confirm-user-info">
          <h2><strong>Confirm New Request</strong></h2>

          <!--Ride info-->
            <p><strong>Please confirm the following information is correct: </strong></p>
            
            <hr>
            
            <p>Who go? <span class = "user-entered">{{first_name}} {{last_name}} ({{netid}})</span></p>
            <p>How many go?: <span class="user-entered">{{ number_going }}</p></span>
            <p>Where go? <span class="user-entered">{{ start }} to {{ dest }}</p></span>
            <p>When go? <span class="user-entered">{{date}} at {{ time }}</p></span>

            <hr>
          <!--Nav buttons--> 
            <form style="text-align:center" action = "confirmation">
                <input type="submit" class="btn btn-secondary" value = "Edit Request"
                       onClick="history.go(-1);return true;">
                <input type="submit" class="btn btn-primary" value = "Confirm" />
            </form>
        </div>
        <br>
    </div>

{% endblock %}

{% block endscripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}