<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Confirm To Join Ride</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
<link href="{% static 'css/master.css' %}" rel="stylesheet">
</head>

<style>
@import url('https://fonts.googleapis.com/css?family=Pavanam');


</style>

<header>

</header>

<body>


<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{% url 'index' %}">PRINCETON GO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#feedback">Feedback</a>
                    </li>
                    <li>
                        <a href="faq/">FAQ</a>
                    </li>
                    <li>
                        <a href="about/">Team</a>
                    </li>
                    <li>
                        <a>{{netid}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<h2 style="padding-left:50px">Successfully Joined Ride</h2>

<div id="confirm-info-box">
  <div id= "confirm-user-info">
    <p><b>You will also receive an email with the following information: </b></p>
    <hr>
    <p>Destination: {{Dest}} </p>
    <p>Date and time of ride: {{Date}}</p>
    <p>Current passenger(s): {% for r in Riders %} <br> &emsp; {{ r.full_name }} {% endfor %} </p>
    <br>
    <p><b>Enjoy Your Carpool!</b></p>
    <hr>
    <form action="/airport/open/">
      <input type="submit" class="btn btn-primary" value = "Back to Open Requests Page" />
    </form>
</div>
</div>

</body>

<!-- Footer -->
    <footer>
        <div class="container">
          <p class="copyright text-muted small">Copyright &copy; Annie Chen, Rani Jaiswal, Cindy Liu, Alice Tang</p>
        </div>
    </footer>

</html>