{% extends "app/base.html" %}

{% block title %} {{Title}} {% endblock %}

{% block links %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'css/master.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div id="confirm-info-box">
  <div id= "confirm-user-info">

    <!--Ride info-->
    <h2><strong>Successfully Joined Ride!</strong></h2>
    <hr>

    <p>Trip: <span class="user-entered">{{ start }} to {{ dest }} </p></span>
    <p>Departs: <span class="user-entered">{{date}}</p></span>
    <p>Current passenger(s):
        <span class="user-entered">
    {% for user in Riders %}
        <br> &emsp; {{user.first_name}} {{user.last_name}} ({{user.netid}})
        {% endfor %} </p></span>
    <br>
    <p style="text-align:center"><b> You'll be added to an email chain with the current passengers to coordinate how to get to {{ dest }}. Enjoy Your Carpool!</b></p>
    <hr>

     <!--Nav buttons-->
    <form style="text-align:center" action="/{{rtype}}/open/">
      <input type="submit" class="btn btn-secondary" value = "Back to Open Requests" />
      <a href="{% url 'my_rides' %}" class="btn btn-primary">My Rides</a>
    </form>

</div>
</div>

{% endblock %}

{% block endscripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}