{% extends "app/base.html" %}
{% load humanize %}
{% block title %} Confirm New Ride | Princeton Go {% endblock %}

{% block links %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'css/master.css' %}" rel="stylesheet">

{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

<div id="confirm-info-box">
  <div id= "confirm-user-info">

    <!--Ride info-->
    <h2><strong>Successfully Created Ride</strong></h2>
    <br>
    <p><b>You will also receive an email with the following information: </b></p>
    
    <hr>
    
    <p>Trip: <span class="user-entered">{{ start }} to {{ dest }} </p></span>
    <p>Departs: <span class="user-entered">{{ date }} at {{ time }}</p></span>
    <h3 style="text-align:center"><b>As others join your ride, you will get notified by email, and you can coordinate how to get to {{ dest }}. Enjoy Your Carpool!</b></h3>
    
    <hr>

    <!--Nav buttons-->
    <form style="text-align:center" action="/{{rtype}}/open/">
      <input type="submit" class="btn btn-secondary"value = "Back to Open Requests" />
      <a href="{% url 'my_rides' %}" class='btn btn-primary'>My Rides</a>
    </form>
  </div>
</div>

{% endblock %}

{% block endscripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
