{% extends "app/base.html" %}

{% block title %} {{Title}} | Princeton Go {% endblock %}

{% block links %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Custom CSS -->
    <!-- <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"> -->
<link href="{% static 'css/master.css' %}" rel="stylesheet">
{% endblock %}

{% block style %}
<style>
@import url('https://fonts.googleapis.com/css?family=Pavanam');

input {
    border-radius: 8px;
    background-color: white;
}

footer {
  font-family: Pavanam, sans-serif;
  background-color: #222;
}

form .btn {
  font-family: Pavanam;
  font-size: 20px;
}

</style>

{% endblock %}

{% block content %}

<h2 style="padding-left:50px">Confirm To Join Ride</h2>

<div id="confirm-info-box">
  <div id= "confirm-user-info">
  <p><b>Would you like to join this ride? </b></p>
  <hr>
  <p>Destination: {{Dest}} </p>
  <p>Date and time of ride: {{Date}}</p>
  <p>Current passenger(s): {% for r in Riders %}  <br> &emsp; {{ r.netid }}  {% endfor %} </p>
  <hr>
  <form action="confirm/{{id}}">
    <input type="submit" class="btn btn-secondary" value = "Back"
    onClick="history.go(-1);return true;">
    <input type="submit" class="btn btn-primary" value = "Confirm" />
  </form>
  </div>
  <br>
</div>

{% endblock %}

{% block endscripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
