{% extends "app/base.html" %}

{% block title %} Dropped Ride | Princeton Go {% endblock %}

{% block links %}
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'css/master.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<body class ='my_rides_container'>
    <div align = 'center'>
        <div class='vertical-veil'>
            <br>
            <div class="my_rides_list">
                <h3 align="center">You have been dropped from this ride. Thank you for using Princeton Go!</h3>
                <div align="center">

                     <!--Nav buttons-->
                    <a href="{% url 'my_rides'%}" class='btn btn-secondary .mb-1'>Back to My Rides</a>
                    <br><br>
                    <a href="/airport/open/" class='btn btn-secondary .mb-1'>Open Airport Rides</a>
                    <a href="/shopping/open/" class='btn btn-secondary .mb-1'>Open Shopping Rides</a>
                    <a href="/other/open/" class='btn btn-secondary .mb-1'>Open Miscellaneous Rides</a>
                    <br><br>
                    <img class="img-responsive" src = "https://s-media-cache-ak0.pinimg.com/originals/a9/3b/fa/a93bfa0a67a0a93bb021591c079f808a.gif"/>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block endscripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}