{% extends "app/base.html" %}


{% block title %} Dropped Ride | Princeton Go {% endblock %}

{% block links %}

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>#}

    <!-- Bootstrap Core CSS -->
    {#    <link href="../static/css/bootstrap.min.css" rel="stylesheet">#}
    {##}
    {#    <link rel = "stylesheet" href="style.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/master.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->

{% endblock %}

{% block content %}

<body class ='your_rides_container' >
<div align = 'center'>
  <div class='vertical-veil' style="height: 100px;">
    <br>
  <div class="list-group your_rides_list">
  <h4 align="center">You have been dropped from this ride. Thank you for using Princeton Go!</h4>
  <a href="{% url 'your_rides'%}" class='btn btn-default your-rides'>Your Rides</a>
  </div>
</div>
</div>
</body>

{% endblock %}

{% block style %}
<style>
@import url('https://fonts.googleapis.com/css?family=Pavanam');

/* footer {
  font-family: Pavanam, sans-serif;
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
    font-family: 'Pavanam', Helvetica, sans-serif;
} */
    
.your-rides {
    font-size: 15px;
}
.navbar a {
    font-size: 20px;
}

#myModal {
    padding: 20px;
}

.modal-header .close {
  font-size: 30px; //bigger
}


</style>
{% endblock %}

{% block endscripts %}
<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
