<!--Bootstrap template, modified-->
{% extends "app/base.html" %}

{% block title %} FAQs | Princeton Go {% endblock %}

{% block links %}
    <!-- Custom CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/master.css' %}" rel="stylesheet">

{% endblock %}

{% block style %}
<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.faqHeader {
    font-family: Source Sans Pro, sans-serif;
    font-size: 27px;
    margin: 20px;
}

.panel-heading{
    font-family: Source Sans Pro, sans-serif;
    position: relative;
}

.panel-heading[data-toggle="collapse"]:after {
    font-family: Source Sans Pro, sans-serif;
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
.panel-body {
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
}
</style>
{% endblock %}

{% block content %}

    <h1 align="center">FAQ</h1><hr>

    <div class="container">
        <!-- Accordion START -->
        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I begin requesting or joining rides?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body"><p><small>
                        If you are a Princeton student, begin by simply logging in with your netid. Then, choose the category of your ride to view currently open requests.
                        If you see one you like, join the ride. If not, click on "Add New Rideshare" to make your own. You will receive email confirmations for any rides you join or create.
                        Click <a href='https://drive.google.com/file/d/0BxPYRTIQTpf-RFJ0RHd3OG50OG8/view?usp=sharing'>here</a> for a more detailed tutorial.
                    </p></small></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I get to my destination?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body"><p><small>
                        We leave that up to you and your group! You will all be put in an email chain, and you can click "Reply All" to coordinate the details of your trip.
                    </p></small></div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">I don't want to be in a ride anymore. How do I drop it?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body"><p><small>
                        If you go to your My Rides page (see the navigation bar), you can see all the rides you are currently in and drop accordingly. You will receive an email confirming you have dropped a ride.
                    </p></small></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What if I don't see a destination I want to go to in the Airport and Shopping drop down options?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body"><p><small>
                        We have an Other category for rides. On the Other requests page, you can make requests for custom locations that aren't currently options in the Airport or Shopping lists, or even destinations that don't fall under those two categories (such as NYC or Philadelphia).
                    </p></small></div>
                </div>
            </div>
            

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Why should I use Princeton Go?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body"><p><small>
                        Princeton Go is a web application that will help you search for rideshares with other Princeton students. This means that you don't have to make list serv email blasts that may or may not actually work trying to find a carpool to the airport. On top of that, carpooling to the airport can actually cut your costs by as much as half or a third, compared to NJ Transit! And for students who are independent, you can find others to go grocery shopping with you so you won't have to rely on Saturday or Sunday shoppers. We’ll put you in an email chain with the other riders, and you decide with your group how to reach your destination. Join an existing ride or create your own, and get going!
                    </p></small></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Will you be offering this service outside of Princeton?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body"><p><small>
                        Going into this project, we wanted to grant Princeton students the convenience and comfort of sharing rides with only other
                        Princeton students. As our app takes off at Princeton, we definitely hope to offer local versions for fans of our service elsewhere!
                    </p></small></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            How can I get involved with this project?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body"><p><small>
                        Contact any one of the team at our @princeton.edu email (see the Team page under the About drop down) or fill out our feedback form, and we'll get back to you soon!
                    </p></small></div>
                </div>
            </div>
            <br>

        </div>
    </div>
{% endblock %}