{% extends "app/base.html" %}

{% block title %} Thanks! | Princeton Go {% endblock %}

{% block links %}
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="{% static 'css/master.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class='container' align='center'>
<!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ Title }}
                </h1>
            </div>
        </div>

<!--Thank you message-->
    <p>If you left your email address, we will get back to you shortly. Thank you!</p>
</div>

<!--Nav buttons-->
<div align='center'>
    <img class="img-responsive"src = "http://bestanimations.com/Books/writing/pusheen-writing-book-animated-gif.gif"><br><br>
    <p>Where go?</p>
    <a href="/airport/open/" class='btn btn-secondary my-rides'>Open Airport Rides</a>
    <a href="/shopping/open/" class='btn btn-secondary my-rides'>Open Shopping Rides</a>
    <a href="/other/open/" class='btn btn-secondary my-rides'>Open Miscellaneous Rides</a>
    <br><br>
    <br><br>
</div>

{% endblock %}