{% extends "app/base.html" %}

{% block title %} Feedback | Princeton Go {% endblock %}

{% block style %}
    <style>
        form {
/*            font-family: 'Pavanam';*/
            font-size: 20px;
            background-color: white;
        }

        footer {
            position: fixed;
            width: 100%;
            left: 0px;
            bottom: 0px;
        }

    </style>
{% endblock %}

{% block links %}
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
<!--     <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/master.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <body>
        <div align = 'center'>
    <div class='feedback_container'>
        <div class='vertical-veil'>

            <div class='feedback_form'>
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 >{{ Title }}
                </h1><hr>
        
    <form action="thanks/" method="POST">
        {% csrf_token %}
        <table >
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="btn btn-primary">
        <input type="submit" class="btn btn-secondary" value = "Go Back" onClick="history.go(-1);return true;">
    </form>
    </div>
</div>
</div>
    </div>
    </div>
</div>

    </body>

{% endblock %}