{% extends "app/base.html" %}
{#{% load humanize %}#}

{% block title %} Open Requests {% endblock %}

{% block links %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Bootstrap Core CSS -->
    {#    <link href="css/bootstrap.min.css" rel="stylesheet">#}

    {#    <link rel = "stylesheet" href="style.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/master.css' %}" rel="stylesheet">
{% endblock %}

{% block style %}
    <style>
{#    submit{#}
{#        font-size: 27px;#}
{#    }#}
    .return-footer
    {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .btn-warning{
        font-size: 16px;
        bottom: 50px;
        left: 100px;
    }
    </style>

{% endblock %}
<body>
{% block content %}
<div align='center'>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <p><small><strong>{{ error|escape }}</strong></small></p>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <p><small><strong>{{ error|escape }}</strong></small><p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="return-footer">
        <button type = "submit" style='font-family: Source Sans Pro' class="btn btn-warning" onClick="history.go(-1);return true;">Edit Request</button><br><br>
    <img src = "https://s-media-cache-ak0.pinimg.com/originals/b5/c7/0f/b5c70f8b411b3f76fb6619cad8b4c036.gif">
    
    </div>
</div>
</body>
{% endblock %}
<!-- </div> -->
{% block endscripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}