{% extends "app/base.html" %}

{% block title %} Create New Request | Princeton Go {% endblock %}

{% block links %}
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'css/master.css' %}" rel="stylesheet">
{% endblock %}

{% block style %}
{% endblock %}


{% block content %}
<div class="form-container ">
    <!--Create a new request form-->
    <form action = "confirm/" method="POST" >
        {% csrf_token %}
        <h1 align='center'><strong>Create New Request</strong></h1>
        <h3 align='center'>Hello, {{first_name}}!</h3>
        <hr>
        <table>
        {{ form.as_table }}
        </table>
        <hr>
        <div style="text-align:center" >
            <a href="/{{rtype}}/open" type="submit" class="btn btn-secondary" value = "Back">Back</a>
            <input type="submit" value="Next" class="btn btn-primary">
        </div>
    </form>
</div>

{% endblock %}

{% block endscripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
