{% extends "app/base.html" %}

{% block title %} My Rides | Princeton Go {% endblock %}

{% block links %}

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>#}

    <!-- Bootstrap Core CSS -->
    {#    <link href="../static/css/bootstrap.min.css" rel="stylesheet">#}
    {##}
    {#    <link rel = "stylesheet" href="style.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/master.css' %}" rel="stylesheet">
<!--     <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->

{% endblock %}

{% block style %}
<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
}


.navbar a {
    font-size: 20px;
}

hr.style2 {
    border-top: 2px solid #ccc;
}

#myModal {
    padding: 20px;
}

.modal-header .close {
  font-size: 30px;
}

</style>
{% endblock %}

{% block content %}
    <body class ='my_rides_container'>
    <div align = 'center'>
        <div class='vertical-veil'>
            <br>
            <div class="list-group my_rides_list">
                <h1 align="center">{{Title}}</h1><hr class='style2'>
                <div class= "d-flex flex-column justify-content-center">


                        {% for ride in rides %}
                        <!-- <a class="list-group-item list-group-item-action flex-column align-items-start"> -->
                            <!-- <div class="d-flex w-100 justify-content-between"> -->

                              <!--   <div class='lg-info'> -->
                                    <button type='button' class='btn btn-danger btn-danger-join pull-right' data-toggle="modal" data-target="#myModal{{ride.id}}"><span class='glyphicon glyphicon-remove'></span>
                                      Drop</button>
                                    <h5 class="mb-1">Ride #{{ride.id}}</h5>


                                    <small class="mb-2">Trip: {{ride.get_start_destination_display}} to {{ ride.get_end_destination_display}} </small>
                                    <br>
                                    <small class="mb-2">Ride Departure Time: {{ ride.date_time}}</small>
                                    <br>
                                     <small class="mb-2"># Empty Seats: {{ ride.seats }}</small>

                                    <small class="text-muted"><br>Current Riders: {% for user in ride.usrs.all %}
                                    <br> &emsp; {{user.first_name}} {{user.last_name}} ({{user.netid}})

                                    {% endfor %} </small>
                                    <br><hr class='style2'>

                                    <!-- Modal -->
                                    <div id="myModal{{ride.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button class="btn close" data-dismiss="modal">&times;</button>
                                                    <p>Drop Ride #{{ride.id}} to {{ride.end_destination}} on {{ride.date_time}}</p>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure? You will not be able to reverse this action.</p>

                                                <div id="modal-btns">
                                                <!-- <div class="modal-footer"> -->
                                                    <a class="btn btn-warning" role="button" href="drop/{{ride.id}}">Yes, I want to drop this ride.</a>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">No, I want to keep it.</button><br>
                                                    </div>
                                                </div>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>

                                <!-- </div>
                            </div> -->
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endscripts %}


{% endblock %}
