{% extends "app/base.html" %}
{% load humanize %}

{% block title %} Open Requests {% endblock %}

{% block links %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>

{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'css/master.css' %}" rel="stylesheet">
    <link href="{% static 'css/userlist.css' %}" rel="stylesheet">
{% endblock %}

{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Pavanam');
        .search-bar
        {
            font-family: Source Sans Pro;
            color: #666;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
            height: 40px;
        }
    </style>
{% endblock %}

{% block content %}
    <body>
        <div class='open_req_container hidden-sm-down'>
    <div align='center'>
    <div class= "vertical-veil">
        <br>
        <div display='inline-block'>

        <a href="new" style= "background-color:forestgreen; color:white" class="btn btn-lg mb-1"> <span class="network-name"style="font-size:20px"><b>Add New Rideshare</b></span></a>

    </div>
        <br>
        <div class="list-group open_req_list">
            <h1 align="center"><strong>{{Title}}</strong></h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="search_section">
                        <input class="form-control search-bar" placeholder="Search by destination..." type="text" id="rides_search_text" name="search_text"/>
                        <div id="rides_search_results"></div>
                    </div>
                </div>

            </div>

            <!--See open_req_list_snippet.html for ride info display format-->
            <script language="javascript">
                /*
                 Before our JavaScript can be imported, the following JavaScript
                 variables need to be set from Django variables. While these
                 values could be hard-coded into the JavaScript, this allows
                 them to be centrally located.
                 */

                //The url to submit the search form. From color_liker.urls
                var SUBMIT_URL = "{% url 'rides_list' %}";

            </script>
            <script type='text/javascript' src="{% static 'js/rides_ajax_search.js' %}"></script>
            <script type='text/javascript' src="{% static 'js/rides_ajax_main.js' %}"></script>
            
        </div>
    </div>
</body>
{% endblock %}