<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>



<body>

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{% url 'index' %}">PRINCETON GO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#feedback">Feedback</a>
                    </li>
                    <li>
                        <a href="faq/">FAQ</a>
                    </li>
                    <li>
                        <a href="about/">About</a>
                    </li>
                    <li>
                        <a>netid</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<a href="/airport/open/new" class="btn btn-outline btn-lg"> <span class="network-name">Make A New Request</span></a>
  <div class="list-group">
  <h2 align="center">{{Title}}</h1>
    <div class= "d-flex flex-column justify-content-center">
      {% for ride in rides %}

      <a href="/airport/open/select/{{ride.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Ride {{ride.id}}</h5>
          <small>1 day ago</small>
        </div>
        <p class="mb-1">Destination: {{ ride.end_destination}} </p>
        <small class="text-muted">Ride Departure Time: {{ ride.date_time}}</small>
        <small class="text-muted">Current Owner: {{ride.owner}} </small>
      </a>
      {% endfor %}
      <!--
      <a href="/airport/open/select" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Ride #2</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Destination: JFK Airport</p>
        <small class="text-muted">Ride Departure Time: Sun, Apr 9, 2017 at 2:00 PM</small>
      </a>
      <a href="/airport/open/select" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Ride #3</h5>
          <small class="text-muted">5 days ago</small>
        </div>
        <p class="mb-1">Destination: JFK Airport</p>
        <small class="text-muted">Ride Departure Time: Tues, Apr 11, 2017 at 2:00 PM</small>
      </a>
      -->
    </div>
  </div>


   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<body>

</html>
