{% load humanize %}

<div class= "d-flex flex-column justify-content-center">
    {% if search_results %}
                {% for ride in search_results %}
                    <a href="select/{{ride.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <div class='lg-info'>
                                <h5 class="mb-1">Ride #{{ride.id}}<small class="text-muted pull-right">leaving {{ride.date_time|naturaltime}}</small></h5>

                                <small class="mb-2">Trip: {{ride.get_start_destination_display}} to {{ ride.end_destination}} </small>
                                <br>
                                <small class="mb-2">Ride Departure Time: {{ ride.date_time}}</small>
                                <br>
                                <small class="mb-2"># Empty Seats: {{ ride.seats }}</small>
                                <small class="text-muted"><br>Current Riders:
                                   {% for user in ride.usrs.all %} 
                                        <br> &emsp; {{user.first_name}} {{user.last_name}} ({{user.netid}})
                                    {% endfor %} </small>
                                {% for user in ride.usrs.all %}
                                    {%if netid == user.netid%}
                                        <small class="text-muted"><br>You are already in this ride!</small>
                                    {%endif%}
                                {% endfor %}

                            </div>
                        </div>
                    </a>

                {% endfor %}


                {% else %}
                <div align="center">
                    <hr>
                    <h3>There are currently no open {{ride_type}} rides!<br>Please make a new ride or try again later.</h3>                  
                    <img src = "https://s-media-cache-ak0.pinimg.com/originals/c9/eb/6c/c9eb6cc67b97ec85e3be12b8e39b7d6d.gif">
                    <br><br>
                </div>
            {% endif %}
            </div>

{#</p>#}
{#      <ul>#}
{#         {% for  ride in search_results %} {# No colon after "color_search_results" #}
{#            <li>{{ ride.end_destination }}</li>#}
{#         {% endfor %}#}
{#      </ul>#}
{#</p>#}

