{% extends "app/base.html" %}
{% load humanize %}

{% block title %} Open Requests {% endblock %}

{% block links %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel = "stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'css/master.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<body class='open_req_container'>
  <div align='center'>
    <div class= "vertical-veil">
    <a href="new" class="btn btn-outline btn-lg mb-1"> <span class="network-name"><b>Make A New Request</b></span></a>
      <br>
      <div class="list-group open_req_list">
        <h1 align="center">{{Title}}</h1>
        <div class= "d-flex flex-column justify-content-center">
          {% for ride in rides %}
          <a href="select/{{ride.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div class='lg-info'>
                <h5 class="mb-1">Ride #{{ride.id}}<small class="text-muted pull-right">{{ride.req_date_time|naturaltime}}</small></h5>

                <small class="mb-2">Destination: {{ride.start_destination}} to {{ ride.end_destination}} </small>
                <br>
            <small class="mb-2">Ride Departure Time: {{ ride.date_time}}</small>
            <br>
            <small class="mb-2"># empty seats: {{ ride.seats }}</small>
            <small class="text-muted"><br>Current Riders:
            {% for user in ride.usrs.all %}
            {{user.netid}}
            {% endfor %} </small>
            {% for user in ride.usrs.all %}
            {%if netid == user.netid%}
                <small class="text-muted"><br>You are already in this ride!</small>
            {%endif%}
            {% endfor %}

            </div>
            </div>
          </a>

        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
<!-- </div> -->
{% block endscripts %}
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
